<h1>Asheville Ipsum</h1>
<h2>Keep Asheville Weird</h2>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-radio-group aria-label="Select an option" formControlName="numberOfWords" class="form-control" >
      <mat-radio-button value="20">20 Words</mat-radio-button>
      <mat-radio-button value="50">50 Words</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-group">
    <label>Number of Paragraphs</label>
    <input type="text" formControlName="numberOfParagraphs" class="form-control" />
</div>
  <div class="form-group">
      <mat-checkbox formControlName="moreBeer" class="form-control">More Beer!</mat-checkbox>
      <!-- <input type="text" formControlName="email" class="form-control" /> -->
  </div>
  <div class="form-group">
      <button class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="content">{{ randoWords }}</div>
