@import url('https://fonts.googleapis.com/css?family=Roboto|Waiting+for+the+Sunrise');

h1{
  text-align: center;
  font-size: 62px;
  margin: 0 0 0 0;
}
h2{
  text-align: center;
  margin: 0 0 0 0;
}
.content{
 width: 660px;
 margin: 20px 20px;
 padding: 0;
}
.sunrise {
  font-family: 'Waiting for the Sunrise', cursive;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
